:root{
    --fuenteHeading: 'PT Sans', sans-serif;
    --fuenteParrafos: 'Open Sans', sans-serif;

    --azul: #0da6f3;
    --amarillo: #cfd219;
    --verde:#329f00;
    --negro: #1a1b15;

    --blanco: #FFFFFF;
    --gris: #e1e1e1;
}
html{
    box-sizing: border-box;
    font-size: 62.5%;/* 1 rem = 10px*/
}
*,*:before,*:after{
    box-sizing: inherit;
}
body{
    font-family: var(--fuenteParrafos);
    font-size: 1.6rem;
    line-height: 2;
    background-color: var(--negro);
    color: var(--blanco);
}
/*Globales*/
.contenedor{
    width: min(90%, 120rem);
    margin: 0 auto;
    gap: 4rem;
}
a{
    text-decoration: none;
}
h1,h2,h3,h4{
    font-family: var(--fuenteHeading);
    line-height: 1.2;
}
h1{
    font-size: 4.8rem;
}
h2{
    font-size: 4rem;
}
h3{
    font-size: 3.2rem;
}
h4{
    font-size: 2.8rem;
}
p{
    font-size: 1.6rem;
}
img{
    max-width: 100%;
}
.contenido{
    display: grid;
    overflow: scroll;
    justify-items: center;
    position: fixed;
    height: 100%;
    width: 100%;
    gap: 1rem;
}
.sobre-mi{
    display:flex;
    gap: 5rem;
    margin-top: 6rem;
    margin-bottom: 4rem;
}
.sobre-mi h1,
.sobre-mi p{
    text-align: center;
}
.sobre-mi h1{
    margin-bottom: 0;
}
.idiomas-referencias{
    display: flex;
}
.idiomas-referencias div{
    width: 50%;
}
span{
    color: var(--azul);
    font-weight: bold;
}
img{
    max-width: 100%;
    max-height: 50rem;
}
.fotografia{
    border: 3px solid var(--verde);
}
.redes{
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}
.icono{
    width: 52px;
    height: 52px;
    background-color: var(--blanco);
    border-radius: 50%;
    display: absolute;
}
.icono:hover{
    background-color: var(--verde);
}
.icono-img{
    width: 3rem;
    height: 3rem;
    position: relative;
    top: 10px;
    left: 11px;
}
.desarrollo{
    width: 50%;
}
.habilidades h4,
.tecnologias h4,
.idiomas-referencias h4{
    margin-top: 2rem;
    margin-bottom: 1rem;
    text-align: center;
}
.atributo p{
    margin: 0;
    color: var(--amarillo);
    font-weight: bold;
}
.barra{
    background-color: var(--verde);
    height: 1rem;
}
.barra-100{
    width: 100%;
}
.barra-90{
    width: 90%;
}
.barra-80{
    width: 80%;
}
.barra-70{
    width: 70%;
}
.barra-50{
    width: 50%;
}
.barra-30{
    width: 30%;
}
@media (max-width: 768px) {
    .contenido{
        display: grid;
        overflow: scroll;
        justify-items: center;
    }
    .sobre-mi{
        display: grid;
        gap: 2rem;
        margin-top: 2rem;
        margin-bottom: 0;
    }
    .sobre-mi h1{
        margin: 0;
    }
    .sobre-mi div{
        grid-row: 2/1;
    }
    .desarrollo{
        width: 90%;
    }
    .redes{
        justify-content: center;
    }
    .icono{
        margin-right: 3rem;
    }
    .icono:nth-child(3){
        margin-right: 0rem;
    }
}